h1 {
    color: hotpink;
}
/* 
.yearsSlider > .rc-slider-track {
    font-size:200px;
    color: hotpink;
} */

.yearsSlider .rc-slider-track {
    background-color:hotpink;
}
.yearsSlider .rc-slider-mark-text {
    color: hotpink;
    font-size: 20px
}