
/* 
.yearsSlider > .rc-slider-track {
    font-size:200px;
    color: hotpink;
} */

.yearsSlider .rc-slider-track {
    background-color:cadetblue;
}
.yearsSlider .rc-slider-mark-text {
    color: cadetblue;
    font-size: 20px
}

#radioitems label:nth-child(1) {
    color:pink
}